.vs/VSWorkspaceState.json
*.wsuo
*.bin
*.vsidx
SandboxTest/.vs/SandboxTest/DesignTimeBuild/.dtbcache.v2
SandboxTest/.vs/SandboxTest/v17/.futdcache.v2
SandboxTest/.vs/SandboxTest/v17/.suo
SandboxTest/SandboxTest.ApplicationInstanceHost/obj/
SandboxTest/SandboxTest.Playwright/obj/
SandboxTest/SandboxTest.Runners.Host/obj/
SandboxTest/SandboxTest.Runners.WebApplication/obj/
SandboxTest/SandboxTest.Runners.WireMock/obj/
SandboxTest/SandboxTest.TestAdapter/obj/
SandboxTest/SandboxTest/obj/
SandboxTest/SandboxTest.ApplicationInstanceHost/bin/
SandboxTest/SandboxTest.Sample/bin/
SandboxTest/SandboxTest.Sample/obj/
SandboxTest/SandboxTest.Runners.Host/bin/
SandboxTest/SandboxTest.Playwright/bin/
SandboxTest/SandboxTest.TestAdapter/bin/
SandboxTest/SandboxTest.Runners.WireMock/bin/
SandboxTest/SandboxTest/bin/
SandboxTest/.vs/SandboxTest/v17/
SandboxTest/SandboxTest.Engine/obj/
SandboxTest/.vs/
SandboxTest/SandboxTest.Engine/bin/
SandboxTest/SandboxTest.Engine.ApplicationRunner/bin/
SandboxTest/SandboxTest.Engine.ApplicationRunner/obj/
SandboxTest/SandboxTest.Sample.Application1/bin/
SandboxTest/SandboxTest.Sample.Application1/obj/
SandboxTest/SandboxTest.Engine.ApplicationContainer/obj/
SandboxTest/SandboxTest.Engine.ApplicationContainer/bin/
SandboxTest/SandboxTest.Net.Http/obj/project.nuget.cache
SandboxTest/SandboxTest.Net.Http/obj/
SandboxTest/SandboxTest.Net.Http/bin/
SandboxTest/SandboxTest.AspNetCore/bin/
SandboxTest/SandboxTest.AspNetCore/obj/
SandboxTest/SandboxTest.Sample.Application2/bin/
SandboxTest/SandboxTest.Sample.Application2/obj/
SandboxTest/SandboxTest.Hosting.ProxyInterceptor/obj/
SandboxTest/SandboxTest.Hosting/obj/
SandboxTest/SandboxTest.Hosting/bin/
SandboxTest/SandboxTest.Hosting.ProxyInterceptor/bin/
SandboxTest/SandboxTest.Sample.Application3/bin/
SandboxTest/SandboxTest.Sample.Application3/obj/
SandboxTest/SandboxTest.Hosting.ServiceInterceptor/bin/
SandboxTest/SandboxTest.Hosting.ServiceInterceptor/obj/
SandboxTest/SandboxTest.Hosting.ServiceInterceptor.ManualDebugger/bin/
SandboxTest/SandboxTest.Hosting.ServiceInterceptor.ManualDebugger/obj/
SandboxTest/SandboxTest.Dummies/obj/
SandboxTest/SandboxTest.Dummies/bin/
